<footer class="m-hide">
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li>SERVICES</li>

                <li>Venues</li>

                <li>Photography</li>

                <li>Flowers</li>

                <li>Receiption</li>

                <li>See All Services</li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul>
                <li>CHAPEL</li>

                <li>Meet the Staff</li>

                <li>View a Wedding</li>

                <li>Login</li>

                <li>My Account Page</li>

                <li>Careers</li>

                <li>Contact Us</li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul>
                <li>NEED TO KNOW</li>

                <li>Wedding Blog</li>

                <li>Testimonials</li>

                <li>FAQs</li>

                <li>What Sets Us Apart</li>

                <li>Marriage Licensing</li>

                <li>Contracts</li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul>
                <li>MEDIA AND PARTNERS</li>

                <li>Digital Brochure</li>

                <li>Chapel Videos</li>

                <li>Become a Partner</li>

                <li>Login</li>

                <li>Address</li>

                <li>Phone Number</li>
            </ul>
        </div>
    </div>

    <div class="btmfooter">
        <ul>
            <li>ph. 702.123.1424</li>

            <li>|</li>

            <li>contact@chapeloowers.com</li>

            <li>|</li>

            <li>Twitter</li>

            <li>|</li>

            <li>Facebook</li>
        </ul>
    </div>
</footer>