<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">VIEW A WEDDING</a>
                </li>

                <li>
                    <a href="#about">PRODUCTS & SERVICE</a>
                </li>

                <li>
                    <a href="#contact">CONTACT US</a>
                </li>

                <li>
                    <a href="#contact">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</div>